header
{
background-image: url(images/ecran1.jpg);
width: 100%;
height: 200px;
display: flex;
box-shadow: 6px 6px 15px;
}

.nom
{
margin-left: 20%;
height: 30%;
font-weight: bold;
}

ul
{
font-weight: bold;
font-size: 1.2em; 
}

img
{
position: absolute;
margin-top: 0.5%;
margin-left: 88%;
}

main

{
height: 400px;
width: 80%;
}

p
{
font-size: 1.4em;
}

h1
{
font-size: 3em; 
}
h2::first-letter

{
color:rgb(99, 23, 13);
}

h2

{
text-align: center;
border-radius: 10px;
font-size: 2em;
color: rgb(99, 106, 112);
border: 3px rgb(86, 90, 94) solid;
box-shadow: 6px 6px 15px;
}

h3
{
border-radius: 10px;
border: 3px rgb(86, 90, 94) solid;   
text-align: center;
font-size: 2em;
color: rgb(99, 23, 13);
font-size: 2.3em;
}
.hardskills 
{
   
height: 450px;
width: 290px;
background-color: #191d22;
box-shadow: 0px 2px 5px #1c1a19;
color: rgb(202, 197, 197);
border-radius: 15px 15px 0px 0px;
padding-bottom: 3%;
padding: .3%;
font-size: 0.9em; 

    
    
}

.competences
{
width: 25%;
height: 85%;
    

}

.formation
{
width: 25%;
height: 85%;
    
}

.block
{  
height: 100%;
display: flex;
justify-content: space-around;
    
}
footer

{
display: flex;
background: #191d22;
height: 100px;
width: 100%;
   
}

.github
{
position: absolute;
margin-top: 1%;
margin-left: 38%;
}

.twitter
{
position: absolute;
margin-top: 1%;
margin-left: 46%;
}

.gmail
{
position: absolute;
margin-top: 1%;
margin-left: 54%;
}
body

{
margin: 0;
padding: 0;
}


.second-content

{ 
height: 450px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-right: 50px;
}

.second-aside 
{
flex: 1.2;
position: relative;
background-color: #191d22;
box-shadow: 0px 2px 5px #1c1a19;
border-radius: 15px 15px 0px 0px;
padding: 10px;
color: rgb(202, 197, 197);
font-size: 0.9em; 
padding-bottom: 3%;
padding: .3%;
}

span
{
    color: rgb(116, 27, 15);
}








